<template name="header">
  <header>
    <div class="header-container">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 col-md-4 col-xs-12">
              <div class="welcome-msg hidden-xs hidden-sm">Default welcome msg! </div>
              {{#if languageSelectorEnabled}}
              <div class="language-currency-wrapper">
                <div class="inner-cl">
                  <div class="block block-language form-language">
                    <div class="lg-cur">
                      <span>
                        <img src="/images/flag-default.jpg" alt="French">
                        <span class="lg-fr">French</span>
                        <i class="fa fa-angle-down"></i>
                      </span>
                    </div>
                    <ul>
                      <li><a class="selected" href="#"><img src="images/flag-english.jpg" alt="english"><span>English</span></a></li>
                      <li><a href="#"><img src="/images/flag-default.jpg" alt="French"><span>French</span></a></li>
                      <li><a href="#"><img src="/images/flag-german.jpg" alt="German"><span>German</span></a></li>
                      <li><a href="#"><img src="/images/flag-brazil.jpg" alt="Brazil"><span>Brazil</span></a></li>
                      <li><a href="#"><img src="/images/flag-chile.jpg" alt="Chile"><span>Chile</span></a></li>
                      <li><a href="#"><img src="/images/flag-spain.jpg" alt="Spain"><span>Spain</span></a></li>
                    </ul>
                  </div>
                  <div class="block block-currency">
                    <div class="item-cur"><span>USD</span><i class="fa fa-angle-down"></i></div>
                    <ul>
                      <li><a href="#"><span class="cur_icon">€</span>EUR</a></li>
                      <li><a href="#"><span class="cur_icon">¥</span>JPY</a></li>
                      <li><a class="selected" href="#"><span class="cur_icon">$</span>USD</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              {{/if}}
            </div>
            <div class="headerlinkmenu col-md-8 col-sm-8 col-xs-12"> <span class="phone  hidden-xs hidden-sm">Call Us: </span>
              <ul class="links">
                <li class="hidden-xs"><a title="Help Center" href="/help"><span>Help Center</span></a></li>
                <li><a title="Store Locator" href="#"><span>Store Locator</span></a></li>
                <li><a title="Checkout" href="/shop/cart/checkout"><span>Checkout</span></a></li>
                <li>
                  <div class="dropdown">
                    <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                      <span>My Account</span> <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="/account">Account</a></li>
                      <li><a href="/account/wishlist">Wishlist</a></li>
                      <li><a href="/account/orders">Order Tracking</a></li>
                      <li><a href="/about">About us</a></li>
                      <li class="divider"></li>
                      <li><a href="/sign-in">Log In</a></li>
                      <li><a href="/register">Register</a></li>
                    </ul>
                  </div>
                </li>
                <li><a title="login" href="/sign-in"><span>Login</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="header-inner">
        <div class="container">
          <div class="row">
            <div class="col-sm-3 col-xs-12 jtv-logo-block">
              <div class="logo"><a  href="/" title="e-commerce"><img alt="Famous" title="Famous" src="/images/logo.png"></a></div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-6 jtv-top-search">
              {{> navSearch}}
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 top-cart">
              {{#if wishlistEnabled}}
              {{> navWishlist}}
              {{/if}}
              {{> navCart}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>
