<template name="mobileMenu">
  <div id="mobile-menu">
    <ul>
      <li><a href="index.html" class="home1">Home Pages</a>
        <ul>
          <li><a href="index.html"><span>Home Version 1</span></a></li>
          <li><a href="version2/index.html"><span>Home Version 2</span></a></li>
          <li><a href="version3/index.html"><span>Home Version 3</span></a></li>
          <li><a href="version1rtl/index.html"><span>Home Version 1 RTL</span></a></li>
        </ul>
      </li>
      <li><a href="#">Pages</a>
        <ul>
          <li><a href="#">Shop Pages </a>
            <ul>

            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>
